.list{
    color: #ffffff;
    width: 300px;
    height: fit-content;
    background-color: #bf07ac;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 18px;
}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin:0 5px;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    border: 0;
}
.list p input:focus{
    outline: none;
}